<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example of Loop</title>
</head>
<body>
	<h1>Going to traverse elements in collection....</h1>
	
	<h1 th:text="${names}"></h1>
	
	<ul>
	
		<li th:each="n,status : ${names}">
		
				<span th:style="${status.odd} ? 'color:red;font-weight:bold' : 'font-weight:bold' " th:text="'Index  ' + ${status.index} + '  ' + ${n}"></span>
				<span th:text="'Count  ' +  ${status.count} + '  ' + ${n}"></span>			
				<span th:text="'Size  '+ ${status.size} + '  ' + ${n}"></span>				
				<span th:text="'Even  ' + ${status.even} + '  ' + ${n}"></span>				
				<span th:text="'Odd  ' + ${status.odd} + '  ' + ${n}"></span>				
				<span th:text="'First  ' + ${status.first} + '  ' + ${n}"></span>
				<span th:text="'Last  ' + ${status.last} + '  ' + ${n}"></span>
							
		</li>
		
	</ul>
	
	
	<!-- 
	
			index: the current iteration index, starting with 0 (zero)
			count: the number of elements processed so far
			size: the total number of elements in the list
			even/odd: checks if the current iteration index is even or odd
			first: checks if the current iteration is the first one
			last: checks if the current iteration is the last one
	
	 -->
		
</body>
</html>